
.container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
    0 6px 10px 0 rgba(0, 0, 0, 0.19);
    /* width: 60%; */
    width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.container_item {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.container button {
    flex: 1;
    background-color: green;
    color: white;
    border: none;
    height: 2.5em;
    font-size: 1.2em;
    padding: 0.6em 3em 0.6em 3em;
    transition: 0.3s;
    cursor: pointer;
}
.container button:hover {
    background-color: rgb(5, 85, 5);
}


.topHalf {
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
}

.bottomHalf {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

.bottomHalf select {
    flex: 1;
    margin-top: 0.5em;
    padding: 0.5em;
    border: none;
    width: 100%;
    font-weight: bolder;
    /* font-size: 1em; */
    color: rgb(88, 88, 88);
}

.bottomHalf input {
    width: 12em;
    padding-top: 0.6em;
    padding-left: 1em;
    border: none;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}


.texts {
    flex-direction: row;
    flex: 4;
}

.texts > hr {
    margin: 0;
    /* margin-top: -0.2em; */
    padding: 0;
}

.showing_results {
    background-color: rgb(104, 103, 103);
    text-align: left;
    color: white;
    padding-left: 3em;
    padding: 0.5em 3em 0.5em 3em;
    margin-top: 2em;
}

@media screen and (max-width: 850px) {
    .container {
        width: 95%;
    }
    .bottomHalf select {
        /* background-color: red; */

    }
    .bottomHalf input {
        /* background-color: green; */
        padding-top: 0.6em;
        padding-left: 1em;
        border: none;
        width: 10em;
        font-weight: unset;
        /* justify-content: unset;
        align-items: unset; */
    }
}


@media screen and (max-width:670px) {
    .container_item {
        display: grid;
        grid-template-rows: auto auto;
    }
    .showing_results {
        padding: 0.1em 3em 0.1em 3em;
    }
    
}


