.img_container {
  position: relative;
  /* background-color: red; */
}

.img_text {
  position: absolute;
  top: 10em;
  left: 10em;
  /* background-color: red; */
}

.img_text > h1 {
  color: #a8f1f3;
  margin: 0;
  padding: 0;
  font-size: clamp(4.5em, 6vw, 6.1em);
}

.img_text > h3 {
  color: white;
  padding: 0;
  margin: 0;
  font-size: clamp(1.5em, 3vw, 3.1em);
}

.img_text > button {
  margin-top: 1em;
  border: 0;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #05348a;
  border-radius: 0.5em;
  border: 1px solid #05348a;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.img_text > button:hover {
  background-color: #071935;
  /* background-color: white;
  color: #05348a; */
}

@media screen and (max-width: 790px) {
  .img_text {
    top: 5em;
    left: 2em;
  }  
  .img_text > button {
    padding: 0.5em 1.5em 0.5em 1.5em;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

/* About Section */
.about_section {
  display: flex;
  align-items: center;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
  /* padding-left: 15vw;
  padding-right: 15vw; */
  padding-top: 3em;
  padding-bottom: 3em;
  /* background-color: red; */
}

.about_section_imgContainer > img {
  height: 24em;
  width: 30em;
  border-radius: 2em;
}

.text_description {
  font-size: clamp(0.9em, 1.3vw, 1.3em);
  font-weight: 500;
}

.about_text {
  text-align: center;
}

.about_text > p{
  width: 90%;
}

.about_text > h1 {
  color: #042d69;
}

.about_text > button {
  border: none;
  font-weight: 700;
  color:#ffff ;
  line-height: 1em;
  font-size: 1.1em;
  padding: 0.6em 1em 0.6em 1em;
  background-color:#087e18 ;
  border: 0.3px solid #087e18;
  transition: 0.3s;
  cursor: pointer;
}

.about_text > button:hover {
  color: #087e18;
  background-color: #fff;
}

@media screen and (max-width: 850px) {
  .about_section {
    width: 90%;
  }
}

@media screen and (max-width: 790px) {
  .about_section {
    padding-top: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .about_text > p{
    width: 100%;
  }
  .about_section_imgContainer > img {
    height: 17em;
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
  }  
}

/* SERVICES SECTIONS */
.service_section {
  background: linear-gradient(217deg,rgba(20, 105, 155, 0.956), rgba(139, 137, 137, 0.109)70.71%),
  linear-gradient(127deg,rgba(90, 169, 221, 0.915),rgba(102, 102, 104, 0.068)70.71%),
  linear-gradient(336deg, rgba(110, 171, 245, 0.604), rgba(97, 97, 100, 0.456)70.71%);
  padding: 1em 0 3em 0;
  margin-bottom: 4em;
  text-align: center;
  padding-left: 4em;
  padding-right: 4em;
}

.service_section > h2 {
  color: white;
}

.service_grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4em;
}

.service_grid_item {
  cursor: pointer;
  background-color: white;
  padding-bottom: 5em;
  border-radius: 0.5em;
  transition: 0.2s;
}

.service_grid_item:hover {
  background-color: #4f8c97;
  color: white;
}

.service_grid_item > div > p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.service_grid_icon {
  margin-top: 2em;
}

@media screen and (max-width: 895px) {
  .service_section {
    padding-left: 2em;
    padding-right: 2em;
  }
  .service_grid_container {
    gap: 1em;
  }
}

@media screen and (max-width: 790px) {
  .service_grid_container {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: auto auto auto; */
    gap: 2em;
  }  
}


/* STATS SECTION */
.stats_section {
    width: 100%;
    padding:1em 0 1em 0;
    background-color: #4b4949;
    color: #ffff;
    display: inline-block;
    margin-bottom: 4em;
    display: flex;
    justify-content: space-around;
}

.stats_section svg {
  width: 60px;
  height: 60px;    
}

.stats_section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.stats_section > div > p {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: bold;
}

@media screen and (max-width: 790px) {
  .stats_section {
    flex-direction: column;
    gap: 2.5em;
    padding-bottom: 2em;
  }

  .stats_section svg {
    width: 40px;
    height: 40px;
  }

  .stats_section > div > p {
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0em;
    font-weight: 200;
  }
}